*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 23px;
}
#wrapper {
    width: 960px;
    margin: 0 auto;
}
#header, #footer {
    background-color: #029ef3;
    
}
ul#main-menu {
    text-align: center;
}
ul#main-menu li {
    display: inline-block;
}
ul#main-menu li a {
    padding: 8px 15px;
    color: #fff ;
    display: block;
}
#content {
    min-height: 600px;
    padding: 20px 0px;
}
#footer {
    color: #fff;
    text-align: center;
    padding: 10px;
}
a.post-title {
    font-weight: bold;
    text-decoration: none;
}
ul.list-post {
    list-style: none;

}
li.item-post {
    margin-bottom: 10px;
    border-bottom: 1px dotted black;
    padding-bottom: 10px;
}
.list-product {
    list-style: none;
    justify-content: space-between;
}
.list-product li {
    width: 33%;
    display: inline-block;
}
h1 {
    font-size: 18px;
    padding: 20px 0px;
}
table thead tr td {
    font-weight: bold;
}
table tr td {
    border: 1px solid black;
    padding: 5px 10px;
}
.user_login {
    /* display: inline-block; */
    text-align: right;
}